.header {
    position: relative;
    border-bottom: 1px solid #ECECEC;
    margin: 0 auto;
    max-width: 480px;
    padding-top: 16px;
    padding-bottom: 16px;
    &__flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: flex-start;
        }
    }
    &__menu-btn {
        position: absolute;
        display: block;
        top: 10px;
        right: 15px;
        padding: 0;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 2;
        .header-close-icon {
                display: none;
            }
        &.is-open .header-close-icon {
            display: block;
        }
        &.is-open .header-menu-icon {
            display: none;
        }
        &:hover,
        &:focus {
            fill: var(--active-text-color);
        }
        @media screen and (min-width: 768px) {
        display: none;
    }
    }
    @media screen and (min-width: 768px) {
        max-width: 796px;
        padding-top: 21px;
        padding-bottom: 21px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 100%;
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.navigation {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}

.navigation__list {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.navigation__items {
    margin-right: 50px;
    position: relative;
    &>a:hover, &>a:focus {
        color: var(--active-text-color);
    }
   &:last-child {
       margin: 0;
   }
}

.navigation__link.current {
    color: var(--active-text-color);
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        margin-top: 28px;
        
        background-color: var(--active-text-color);
        border-radius: 2px;
    }
}

.contacts {
    margin-left: auto;
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        margin: 0;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
    }

    &>a:hover,
    &>a:focus {
        color: var(--active-text-color);
    }

    &>a:hover .contacts__icon,
    &>a:focus .contacts__icon {
        fill: var(--active-text-color);
    }
    &__mail,
    &__tel {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--item-text-color);
        @media screen and (min-width: 768px) {
            font-size: 12px;
            line-height: 1.2;
    }
    }

    &__icon {
        fill: var(--item-text-color);
        margin-right: 10px;
    }

    &__mail {
        display: flex;
        align-items: center;
        @media screen and (min-width: 768px) {
            margin: 0;
            margin-bottom: 10px;
        }
        @media screen and (min-width: 1200px) {
            margin: 0;
            margin-right: 50px;
        }        
    }

    &__tel {
        display: flex;
        align-items: center;
    }
}