.portfolio-main-section {
    padding-top: 94px;
    padding-bottom: 94px;
}



.portfolio-main-content {
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    &-item {
        width: 370px;
        margin-right: 30px;
        margin-bottom: 30px;
        cursor: pointer;
        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }
}

.portfolio-card {
    position: relative;
    overflow: hidden;
}

.card-text {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    padding: 63px 24px;

    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;

    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-main-content-item:hover .card-text {
    transform: translateY(0%);
}

.content-border {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.portfolio-main-heading {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--title-nav-text-color);
}

.portfolio-main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--item-text-color);
}