.main-lead__btn {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border: none;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--active-text-color);
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
}

.btn-close-modal {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: transparent;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &:hover .modal-close,
    &:focus .modal-close {
        fill: var(--active-text-color);
    }
}

.modal-send-btn {
    display: block;
    width: 200px;
    height: 50px;
    margin: auto;
    background-color: var(--active-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
}

.footer-send-btn {
    position: relative;
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;

    background: var(--active-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 28px;
        transform: translateY(-50%);
    }
    @media screen and (max-width: 767px) {
        margin: auto;
        margin-top: 20px;
    }
    @media screen and (min-width: 768px) {
        margin: 0 auto;
    }
}

.portfolio-main-btn {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 40px;
    &-item {
        margin-right: 8px;
        @media screen and (max-width: 423px) {
            &:nth-child(2n+1) {
                margin-bottom: 15px;
            }
        }
        @media screen and (min-width: 423px) and (max-width: 767px) {
            &:nth-child(2n+1) {
                margin-bottom: 15px;
            }
            &:nth-child(3) {
                margin-right: 0;
            }
        }
        
        &:last-child {
            margin: 0;
        }

        @media screen and (min-width: 768px) {
        &:first-child {
            margin-bottom: 0px;
        }
        }
    }
    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        justify-content: center;
        margin-bottom: 50px;
    }
}

.portfolio-btn {
    background-color: var(--background-color-team);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    &:hover,
    &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        background: var(--active-text-color);
    }
    &:hover .portfolio-text-btn,
    &:focus .portfolio-text-btn {
        color: var(--white-text-color);
    }
}