.logo {
    font-family: 'Raleway';
    font-weight: 700;
    // font-size: 26px;
    // line-height: 1.2;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--black-text-color);
    @media screen and (max-width: 767px) {
        font-size: 24px;
        // margin: auto;
    }
    @media screen and (min-width: 768px) {
            font-size: 24px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 26px;
    }
}

.header-logo {
    // margin-right: 93px;
    &__styles {
        color: var(--active-text-color);
    }
}

.footer-logo {
    margin: auto;
    &__styles {
        color: var(--active-text-color);
    } 
    &__item {
        color: var(--white-text-color);
    }
    @media screen and (min-width: 480px) {
        
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
    }
}