:root {
    --title-nav-text-color: #212121;
    --active-text-color: #2196F3;
    --item-text-color: #757575;
    --white-text-color: #ffffff;
    --black-text-color: #000000;
    --footer-address-text-color: rgba(255, 255, 255, 0.6);
    --background: #2F303A;
    --background-color-team: #F5F4FA;
}