.main-clients {
    padding: 60px 0px;
    &__heading {
            margin-bottom: 30px;
        @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        }  
    }
    @media screen and (min-width: 1200px) {
            padding: 94px 0px;
    }      
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    &__item {
        width: calc(100% / 2 - 30px);
        margin-left: 30px;
        margin-bottom: 30px;
        @media screen and (min-width: 768px) {
            width: calc(100% / 3 - 30px);
            margin-left: 30px;
            margin-bottom: 30px;
        }
        @media screen and (min-width: 1200px) {
            width: calc(100% / 6 - 30px);
            margin-left: 30px;
            margin-bottom: 30px;
        }    
    }
    &__icon {
            fill: #AFB1B8;
        }
}

.clients-list__link {
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    &:hover, &:focus {
        border: 1px solid var(--active-text-color);
    }
    &:hover .clients-list__icon, 
    &:focus .clients-list__icon {
            fill: var(--active-text-color);
        }
}